* {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  height: 10vh;
  width: 80vw;
  padding: 0 10vw;
  color: #fff;
}

li {
  list-style: none;
}

.btn_red {
  background: #D82855;
  border-radius: 10px;
  border: none;
  color: white;
}

a {
  text-decoration: none;
  color: #fff;
}

hr {
  width: 90%;
  margin: 15px 20px;
  border: 0;
  border-bottom: dashed 2px #002255;
}

h1 {
  font-size: 90px;
  width: 30vw;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h5 {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.31em;
  height: 400;
}

h6 {
  font-size: 10px;
}

p {
  font-size: 20px;
}

.cont_header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.cont_header img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header_txt {
  padding: 10vh 10vw;
  width: 25vw;
  height: 80vh;
  color: #fff;
  position: absolute;
  top: 0;
  background: #002255;
  background: rgba(0, 34, 85, 0.66);
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 57vw;
}

.navigation_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 17vw;
  margin-right: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu button {
  margin-right: 2vw;
  width: 6vw;
  height: 4vh;
  font-size: 1em;
  font-weight: 700;
}

.log_in {
  padding-top: 1vh;
  color: #fff;
}

.prin_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6vh 0;
  height: 70vh;
}

.prin_text p {
  line-height: 31px;
  letter-spacing: 0.03em;
  width: 18vw;
}

.ver_mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  letter-spacing: 0.03em;
  font-size: 1.4em;
}

.ver_mas i {
  font-size: 0.8em;
  margin-right: 10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10vw;
  font-size: 2em;
}

.sugeridos {
  width: 79vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20vh 10vw;
}

.sug-info {
  width: 20vw;
  margin-right: 15vw;
}

.sug-info h5 {
  color: #002255;
  margin-bottom: 40px;
}

.sug-info h2 {
  color: #002255;
  margin-bottom: 28px;
}

.sug-info p {
  color: #002255;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #002255;
  margin: 40px 0;
}

.icon-day {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  background-color: #002255;
  border-radius: 5px 0 0 5px;
}

.icon-day p {
  color: #002255;
}

.icon-day i {
  color: #fff;
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #D82855;
}

.discount-icon {
  width: 50px;
  height: 40px;
  background-color: #D82855;
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.sug-offers {
  width: 45vw;
  height: 70vh;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.off-info {
  width: 20vw;
  height: 65vh;
  border-radius: 12px;
  overflow-y: hidden;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.off-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dest-intro {
  text-align: center;
}

.dest-intro h5, .dest-intro h2 {
  color: #002255;
  margin-bottom: 40px;
}

.new-product {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.resalt {
  color: #D82855;
}

.btn-drop {
  margin: auto;
  width: 39vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-drop button {
  width: 250px;
  height: 80px;
  font-size: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-drop button i {
  padding-left: 20px;
}

.des-dropdown {
  background-color: #D82855;
  color: #fff;
  border: none;
}

.price-dropdown {
  background-color: #fff;
  color: #D82855;
  border: solid 1px #D82855;
}

.dest-highlight {
  width: 715px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
}

.dest-highlight img {
  width: 516px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vertical-align {
  color: #fff;
  background-color: #002255;
  text-align: center;
  width: 200px;
  height: 550px;
}

.vertical-align h3 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center 40%;
          transform-origin: center 40%;
  float: left;
  margin-top: 250px;
}

.high-card {
  width: 800px;
  height: 582px;
  margin-left: 20px;
  padding-left: 20px;
}

.new {
  width: 55px;
  height: 67px;
  background-color: #D82855;
  margin: auto;
  padding-top: 15px;
  position: relative;
  left: 205px;
  z-index: 80;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 154.91%;
  letter-spacing: 0.31em;
}

.new i {
  font-size: 35px;
}

.card {
  width: 650px;
  height: 490px;
  position: relative;
  top: -50px;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 8px 26px rgba(0, 34, 85, 0.25);
          box-shadow: 8px 8px 26px rgba(0, 34, 85, 0.25);
}

.img-high {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a71c475), to(#002255)), url(/resources/img/santorini-greece-164284.jpg);
  background-image: linear-gradient(#3a71c475, #002255), url(/resources/img/santorini-greece-164284.jpg);
  height: 150px;
  background-size: cover;
  background-blend-mode: multiply;
  color: #FFFFFF;
  padding: 30px 0 0 20px;
}

.info-high {
  color: #002255;
  margin: 20px;
}

.day-plane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.info-days {
  width: 230px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  border-radius: 5px;
  border: solid 1px #002255;
}

.info-days i {
  color: #fff;
}

.info-int {
  color: #002255;
  font-size: 15px;
  letter-spacing: 0.31em;
  font-weight: 700;
  margin: 0 40px 0 20px;
}

.info-int p {
  color: #6C6C6C;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 154.91%;
  font-weight: 400;
}

.reserva {
  width: 90%;
  height: 40px;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

.lugares {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
  padding: 20px;
}

.btn_slide {
  font-size: 40px;
  color: #002255;
}

.lug-slide {
  width: 306px;
  height: 530px;
  -webkit-box-shadow: 8px 8px 26px rgba(0, 34, 85, 0.25);
          box-shadow: 8px 8px 26px rgba(0, 34, 85, 0.25);
  border-radius: 10px;
}

.lug-slide img {
  width: 306px;
  height: 343px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lug-slide h3 {
  color: #002255;
}

.i-lug {
  font-size: 23px;
}

.lug_des {
  padding: 10px 20px;
}

.lug_des h3 {
  margin-bottom: 5px;
}

.lug-days {
  font-size: 20px;
  color: #002255;
  margin-top: 5px;
}

.lug-days i {
  font-size: 18px;
}

.mas_lugares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #D82855;
  font-size: 18px;
  margin-top: 20px;
}

.mas_lugares i {
  margin: 3px 10px 0 0;
  font-size: 16px;
  color: #D82855;
}

.vuelos {
  padding: 0 20vh;
  margin-bottom: 20px;
}

.vuelos i {
  margin: 5px 10px 0 0;
}

.vuelos_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vuelo_ind {
  width: 350px;
  height: 180px;
  border: solid 1px #CFCFCF;
  padding: 20PX;
  margin-bottom: 25px;
  color: #002255;
}

.vuelo_ind h6 {
  letter-spacing: 0.31em;
  margin-bottom: 15px;
}

.vuelo_ind hr {
  margin: 0;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 15px 0;
}

.date i {
  margin: 0 10px;
  color: #D82855;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-weight: 700;
}

.price i {
  margin-right: 10px;
}

.mas_ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mas_ofertas button {
  width: 190px;
  height: 60px;
  font-size: 20px;
}

.legal {
  background-color: #002255;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 40px 20vh;
}

.legal li {
  margin: 12px 0;
}

.list_title {
  font-size: 14px;
  letter-spacing: 0.31em;
  margin-bottom: 40px;
}
/*# sourceMappingURL=estilo.css.map */